[submodule "notebooks/Generative-AI-for-Backend-Devs-Student-Guide"]
	path = notebooks/Generative-AI-for-Backend-Devs-Student-Guide
	url = git@github.com:Pythondeveloper6/Generative-AI-for-Backend-Devs-Student-Guide.git
